* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
  }
  
  body {
    background: #f4f7fc;
  }
  
  .container {
    width: 90%;
    max-width: 1200px;
    margin: auto;
  }
  
  button {
    cursor: pointer;
  }
  
  input,
  select,
  button,
  textarea {
    outline: none;
  }